.blackjack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: black;
}
.blackjack-blur {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    filter: blur(2px);
    transition: filter 8s;
    transform: translateZ(0);
    //backface-visibility: hidden;
    //-webkit-backface-visibility: hidden;
    //-webkit-perspective: 1000;
    transition: 10s;
    transition-delay: 2s;
}

.top {
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    background: black;
    width: 90%;
    height: 50%;
    //border: 2px solid black;
    //filter: blur(5px);
}
.top-container {
    transform-style: preserve-3d;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;

}
.bot {
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    //border: 2px solid black;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.bot-container {
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
