@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.tab-content {
    z-index: 4;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 470px;
    mix-blend-mode: exclusion;
    background: white;
    pointer-events: none;
    opacity: 1;
}
.signature > span {
    z-index: 20;
    display: flex;
    position: fixed;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    left: 300px;
}
.tab-content-2 {
    position: absolute;
    z-index: 3;
    width: 520px;
    height: 470px;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    \\background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,1) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255, .8), rgba(0,0,255,0) 70.71%);
    opacity: 1;
}
.tab-content-3 {
    position: fixed;
    z-index: 2;
    width: 520px;
    height: 470px;
    background: white;
}

.trailsText {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: black;
    font-size: 6em;
    font-weight: 800;
    letter-spacing: -0.05em;
    will-change: transform, opacity;
    //overflow: hidden;
    user_select: none;

}

.trailsText > div {
    padding-right: 0.05em;
    //overflow: hidden;
    //user_select: none;
    pointer-events: none;
}

.trailsText > div > span {
    //color: blue;
    cursor: pointer;
    pointer-events: all;
}

.left {
    position: absolute;
    background: yellow;
    left: 0;
    width: 300px;
    height: 100%;
}
