.blackjack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //border: 3px solid black;
    height: 100vh;
    width: 100vw;
}
.blackjack-blur {
    display: flex;
    flex-direction: column;
    align-items: center;
    //border: 3px solid black;
    height: 100vh;
    width: 100%;
    //filter: blur(9px);
    //transition: filter 8s;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    //-webkit-perspective: 1000;
    transition: 10s;
    transition-delay: 1s;
}

.top {
    display: flex;
    justify-content: center;
    background: grey;
    width: 90%;
    height: 50%;
    //border: 2px solid black;
    //filter: blur(5px);
}
.top-container {
    transform-style: preserve-3d;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;

}
.bot {
    display: flex;
    justify-content: center;
    background: grey;
    align-items: center;
    width: fit-content;
    height: fit-content;
    //border: 2px solid black;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.bot-container {
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
