.card-front {
    backface-visibility: hidden;
    position: absolute;
}
.card-back {
    //backface-visibility: hidden;
    position: absolute;
}

.card-container {
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    position:  absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}