.card-front {
    backface-visibility: hidden;
    position: absolute;
}
.card-back {
    position: absolute;
}

.card-container {
    position: absolute;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.card-container-player {
    transform-style: preserve-3d;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
}
