.dealer {
    transform-style: preserve-3d;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 250px;
    text-align: center;
}

.player-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}