@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100&display=swap');

.nav-contents {
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: fixed;
    margin-bottom: 520px;
    //font-size: 10px;
    font-weight: bold;
    user-select: none;
    //text-decoration: underline;
    width: 540px;
    justify-content: right;
}

.nav-contents > .nav-fit > .contents > h1 {
    cursor: pointer;
    margin-left: 15px;
}

.nav-fit {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 25px;
    justify-content: center;
    align-items: center;
}