@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.tab-content {
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //justify-content: center;
    //align-items: center;
    //border: 1px solid white;
    //width: 520px;
    //height: 470px;
}

.trailsText {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: black;
    font-size: 6em;
    font-weight: 800;
    letter-spacing: -0.05em;
    will-change: transform, opacity;
    //overflow: hidden;
    user_select: none;
}

.trailsText > div {
    padding-right: 0.05em;
    overflow: hidden;
    user_select: none;
}

.trailsText > div > span {
    user-select: none;
}