@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.tab-content {
    z-index: 4;
    font-family: 'Bebas Neue', cursive;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 470px;
    mix-blend-mode: exclusion;
    background: white;
    pointer-events: none;
}
.tab-content-2 {
    position: absolute;
    z-index: 3;
    width: 520px;
    height: 470px;
    background: black;
}

.trailsText {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: black;
    font-size: 6em;
    font-weight: 800;
    letter-spacing: -0.05em;
    will-change: transform, opacity;
    //overflow: hidden;
    user_select: none;

}

.trailsText > div {
    padding-right: 0.05em;
    //overflow: hidden;
    //user_select: none;
    pointer-events: none;
}

.trailsText > div > span {
    //color: blue;
    cursor: pointer;
    pointer-events: all;
}




