@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.tab-content {
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //justify-content: center;
    //align-items: center;
    //border: 1px solid white;
    width: 520px;
    height: 470px;
}

.tab-content > h1 {
    color: white;
    font-weight: bold;
    opacity: 90%;
    user-select: none;
    font-size: 40px;
    margin: 0;
}
